---
layout: default
---



<div class="home">


{% include projectNavbar.html %}

<p>Here are some projects I've made. You can use the above links for individual in-depth project pages, or see the brief summaries below.</p>

    {% assign projects= site.projects | sort:"weight" %}
    {% for project in projects %}
    <div class="projectBrief">
        <h1>{{ project.title }}</h1>
        {{ project.content }}


        <h2>Tech: {% for tech in project.tech %}{% if tech.link == "" %}<span>{{tech.name}}</span>{% else %}<a href={{tech.link}}>{{tech.name}}</a>{% endif %}{% if tech != project.tech.last %}, {% endif %} {% endfor %}</h2>
        <h2>Language{% if project.languages contains "," %}s{% endif %}: {{ project.languages }}</h2>
        <h2>Custom Tool{% if project.tools.size > 1 %}s{% endif %}: {% for tool in project.tools %}<a href={{tool.link}}>{{tool.name}}</a>{%if tool != project.tools.last %}, {% endif %}{% endfor %}</h2>
    
    </div>
    {% endfor %}
    
</div>

