<header class="site-header">

    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <nav class="nav wrapper">

        {% assign pages = site.menu_links | sort:"weight" %}
        <ul>
            {% for p in pages %}
            <li>
                <a {% if p.link == page.url or page.url contains p.link and p.link != "/" %} class="active" {% endif %} href="{{ p.link }}">
                    {{ p.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>

</header>
