@import 'colourPalette';

/*body {
    background-color: $lightGrey-0;
}*/

div.wrapper {
    background-color: $lightBlue-0;
    /*padding-left: 10px;
    padding-right: 10px;*/
}

div.page-content .wrapper {
    background-color: $darkGrey-0;
}


.home {
    margin-top: 30px;
    margin-bottom: 30px;
    color: $white-0;
}

.game, .engine, .tool {
    ul {
        list-style: none;
    }

    li {
        display: inline-block;    
        margin-right: 20px;
    }
}

.toolDescription p {
    display: inline-block;
}

nav {
    background-color: $darkGrey-0;

    /*border-bottom: 1px solid #E8E8E8;*/

    ul {
        list-style: none;
        margin: 0;
        height: auto;
    }

    li {
        float: left;
        width: 25%;
    }

    li a:visited:not(.active),
    li a:link {
        display: block;
        text-align: center;
        background-color: $darkBlue-1;
        color: $lightBlue-1;
        text-decoration: none;
        margin-right: 1px;
        font-weight: bold;
    }

    li a:last-child {
        margin-right: 0px;
    }

    li .active {
        background-color: $lightBlue-2;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: $lightBlue-1;
        color: $darkBlue-1;
    }
}

.projectNavbar {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: 30px;

    li {
        width: 33%;
        box-sizing: border-box;
        padding: 10px;

        a:link {
            color: $darkBlue-0;
        } 
    }

    li a:link {
        color: red;
    }
}

