---
layout: default
---

<script src="/scripts/woodenSphere.js"></script>
<script src="/scripts/imageGallery.js"></script>

<nav class="nav wrapper">
{% assign pages = site.projects | sort:"weight" %}
<ul>
    {% for p in pages %}
    <li>
        <a {% if p.url == page.url %} class="active" {% endif %} href="{{ p.url }}">
            {{ p.title }}
        </a>
    </li>
    {% endfor %}
</ul>
</nav>

<div class="home">

    <h1 id="woodenSphere">Wooden Sphere</h2>

<div class="gallery">
    <p id="woodenSphere_prevImage" class="galleryButton">prev</p>
    <img id="woodenSphere_galleryImage" class="galleryImage" width="768" height="432"/>
    <p id="woodenSphere_nextImage" class="galleryButton">next</p>
</div>

    <h2 id="considerationEditor">Consideration Editor</h2>
<div class="gallery">
    <p id="considerationEditor_prevImage" class="galleryButton">prev</p>
    <img id="considerationEditor_galleryImage" class="galleryImage" width="768" height="432"/>
    <p id="considerationEditor_nextImage" class="galleryButton">next</p>
</div>


</div>

