$lightBlue-0: #19B3FE;
$lightBlue-1: #73CFFC;
$lightBlue-2: #46C1FD;
$darkBlue-0: #06ACFD;
$darkBlue-1: #0187C8;
$lightGrey-0: #505050;
$darkGrey-0: #354545;
$darkGrey-1: #202020;
$white-0: rgba(255,255,255,0.8);/*#ffffff;*/
