---
layout: default
---

<div class="home">
	
	<div class="postSidebar">
		<h3>Recent posts</h3>
		{% for post in site.posts limit:5 %}
		<ul>
			<li><a href="{{ post.url }}">{{post.title}}</a></li>
		</ul>
		{% endfor %}

		<h3>Tags</h3>
		{% for tag in site.tags %}
		<a href="/blog/tags.html#{{tag | first}}">{{ tag | first}} ({{tag[1].size}})</a>
		{% endfor %}
	</div>

	<div class="post">

		{% for post in paginator.posts %}
		<!--<div>
			<h2 style="display: inline"><a href="{{ post.url }}">{{post.title}}</a></h2>
			{% if post.date %}
				<span style="margin-left: 20px">{{post.date | date: '%B %d, %Y'}}</span>
			{% endif %}
			{{post.excerpt}}
			...

			{% comment %}
			{{post.content}}
			{% endcomment %}
		</div>-->
		<article  itemscope itemtype="http://schema.org/BlogPosting">
			  <header class="post-header">
				<h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
				{% if post.date %}
				<p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
				{% endif %}
			  </header>

			  <div class="post-content" itemprop="articleBody">
				{{ post.content }}
			  </div>
		</article>	

		{% endfor %}

		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
			{% else %}
				<span class="previous">Previous</span>
			{% endif %}

			<span class="page_number ">Page: {{ paginator.page }} of {{paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="next">Next</a>
			{% else %}
				<span class="next ">Next</span>
			{% endif %}
		</div>

	</div>
</div>
