---
layout: default
---

<script src="/scripts/projectStacks.js"></script>
<script src="/scripts/imageGallery.js"></script>

<nav class="nav wrapper projectNavbar">
{% assign pages = site.projects | sort:"weight" %}
<ul>
    {% for p in pages %}
    <li>
        <a {% if p.link == page.url %} class="active" {% endif %} href="{{ p.link }}">
            {{ p.title }}
        </a>
    </li>
    {% endfor %}
</ul>
</nav>

<div class="home">

    <h1 id="ProjectStacks">Project Stacks</h2>


    <h2 id="assetManager">Asset Manager</h2>
<div class="gallery">
    <p id="assetManager_prevImage" class="galleryButton">prev</p>
    <img id="assetManager_galleryImage" class="galleryImage" width="768" height="432"/>
    <p id="assetManager_nextImage" class="galleryButton">next</p>
</div>


</div>

