---
layout: default
---

<script src="/scripts/chengine.js"></script>
<script src="/scripts/imageGallery.js"></script>

<nav class="nav wrapper">
{% assign pages = site.projects | sort:"weight" %}
<ul>
    {% for p in pages %}
    <li>
        <a {% if p.link == page.url %} class="active" {% endif %} href="{{ p.link }}">
            {{ p.title }}
        </a>
    </li>
    {% endfor %}
</ul>
</nav>

<div class="home">

    <h1 id="chengine">Chengine</h2>

<div class="gallery">
    <p id="chengine_prevImage" class="galleryButton">prev</p>
    <img id="chengine_galleryImage" class="galleryImage" width="768" height="432"/>
    <p id="chengine_nextImage" class="galleryButton">next</p>
</div>


</div>

